.btn-no-border {
    border: none;
    background: transparent;
    padding: 0;
}

.custom-quiz-badge {
    border: 2px solid red;
    color: white;
    background-color: #6c757d;
}


.custom-badge {
    border: 2px solid Grey;
    color: Black;
    background-color: #6c757d
}

.custom-text-color-multiple-module {
    color: #d61a1a;
}

.custom-text-color-quiz-icon {
    color: #2d781c;
}

.wd-grid-col-third-page {
    width: 33%;
    float: left;
}

.no-underline {
    text-decoration: none;
}

.custom-text-color2 {
    color: black;
}

.with-border-left {
    content: "";
    display: inline-block;
    height: 100%;
    border-left: 4px solid green;
    margin-right: 10px;
}

.wd-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 15px;
    border-radius:5px;
    width: 90%;
}

.custom-button {
    margin-right: 130px;
}

.custom-edit-button {
    border: 2px solid red;
    color: white;
    background-color: #d61a1a;
}

.custom-tab-title {
    color: #d61a1a;
}

.custom-tab-title.active {
    color: black;
}

/*.question-box {*/
/*    border: 1px solid #ddd;*/
/*    padding: 16px;*/
/*    border-radius: 4px;*/
/*    background-color: #f9f9f9;*/
/*}*/

/*.question-header {*/
/*    margin-bottom: 12px;*/
/*}*/

/*.question-index {*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*}*/

/*.question-text {*/
/*    margin-top: 8px;*/
/*    margin-bottom: 16px;*/
/*    font-size: 14px;*/
/*}*/

/*.question-options {*/
/*    margin-bottom: 16px;*/
/*}*/

/*.option {*/
/*    margin-bottom: 8px;*/
/*}*/

/*.option input {*/
/*    margin-right: 8px;*/
/*}*/

/*.question-actions {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/


.question-box {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.question-header {
    font-size: 18px;
}

.question-content {
    font-size: 20px;
}

.option {
    margin: 10px 0;
}

.question-actions {
    margin-top: 20px;
}
