/*#wd-courses-navigation > .list-group-item.active {*/
/*  color: black;*/
/*  background-color: white;*/
/*  border-left: 3px solid black !important;*/
/*}*/
.list-group {
  list-style-type: none;
  padding-left: 0;
}


.list-group-item.active {
  color: black !important;
  font-weight: bold;
  background-color: white;
  border-left: 3px solid black !important;
}
